/backend/__pycache__
/backend/venv
/venv
/frontend/node_modules
node_modules/
/backend/experiments
frontend/.env
.coverage/

backend/service_account.json
/backend/admin/__pycache__
/backend/api/__pycache__
/backend/main/__pycache__
/backend/auth/__pycache__
/backend/models/__pycache__
/backend/services/__pycache__
backend/tests/api_integration_test.py
