.syllabus-nav {
    display: flex;
    width: 100%; /* fill the parent container */
    background-color: white;
    border-bottom: 10px solid #3a8ef6;
    overflow-x: auto;
    justify-content: space-around;
    gap: 0px;
}

.nav-tab {
    font-weight: 600;
    color: #888;
    padding: 1rem 0.3rem;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-tab.active{
    color: #ffffff;
    background-color: #3a8ef6;
    border-bottom: 1px  solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}