/* Wrapper for entire page */
.login-page-wrapper {
    width: 100%;
    height: 100vh; /* Full viewport height */
    font-family: inter, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebf5fb;
    margin: 0;
}


/* Logo at the top */
.logo-container {
    margin-top: 2rem;
}

.logo {
    width: 240px;
    height: auto;
    filter: brightness(0);
}

/* Main container: split layout */
.login-page-container {
    display: flex;
    width: 80%;
    height: calc(75vh - 80px);
    font-family: sans-serif;

}
/* Left section */
.left-section {
    flex: 1;
    background: linear-gradient(135deg, #002e5d, #4a90e2);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden
}

.left-section h1 {
    font-size: clamp(1rem, 4vw, 2.5rem);
    font-weight: 700;
    margin-bottom: 1rem;
}

.left-section p {
    font-size: clamp(1rem, 2vw, 1rem);
    line-height: 1.5;
    margin-bottom: 0.5rem;
}
.details-bottom {
    margin-top: 0.5rem;
    font-weight: 500;
}

.icon-login{
    height: 110px;
    object-fit: contain;
}

/* Right section */
.right-section {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 0.5rem;
}

.login-form input {
    padding: 0.5rem;
    font-size: 1rem;
}

.login-form button {
    padding: 0.5rem;
    background: #002e5d;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.success-message {
    color: green;
    margin-top: 1rem;
}

.error-message {
    color: red;
    margin-top: 1rem;
}

.logout-button {
    margin-top: 0.5rem;
    background: #666;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}


.how-block {
    display: inline-block;
    text-align: center;
}


.how-block .icon-login {
    object-fit: cover;
    height: 120px;
    width: auto;
}


.how-block .description-container {
    display: grid;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    justify-content: center;

}


.how-block .description-container > div {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.3;
    color: rgba(255,255,255,0.9);
}

@media (max-width: 768px) {
    .login-page-container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .left-section,
    .right-section {
        flex: none;
        width: 100%;
        padding: 1.5rem;
    }

    .left-section {
        order: 2;    /* show form first if you prefer */
    }
    .right-section {
        order: 1;
    }
}