.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem;
    color: black;
}

.ecsu-logo-standard{
    height: 60px;
    object-fit: contain;
}

p.footer-bottom {
    color: initial;
}

a:hover {
    text-decoration: underline;
}

a {
    margin-left: 1rem;
    margin-right:1rem;
}