.basic-info-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
}

.alert {
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.alert-icon {
    color: #FF0000;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.section-title {
    font-size: 1.4rem;
    color: #002e5d;
    margin-bottom: 0.75rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.25rem;
}


.save-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #002e5d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.save-button:hover {
    background-color: #004080;
}
